        /* Estilos para o cabeçalho, menu e rodapé */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: #f7eee6;
        }
        header, nav, footer {
            background-color: #3a221a; /* Cor de fundo */
            padding: 20px;
            text-align: center;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 20px;
        }