        /* Estilos para o cabeçalho, menu e rodapé */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
            background-color: #f7eee6;
            cursor: url('Site\img\icone.cur'), default;
        }

        main {
          margin: 100px;
        }

        header {
          display: flex;
          justify-content: center; /* Centraliza horizontalmente */
          align-items: center; /* Centraliza verticalmente */
          background-color: #3a221a; /* Cor de fundo */
          padding: 20px;
          text-align: center;
          border-bottom: 1px solid #ccc;
         }
        nav, footer {
            background-color: #3a221a; /* Cor de fundo */
            padding: 10px;
            text-align: center;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        a{
            border-style: solid;
            border-color: #f7eee6;
            padding: 10px;
            color: #f7eee6;
        }

        .logo img {
          width: 100px; /* Ajuste conforme necessário */
          height: auto;
          margin-right: 10px;
        }

        .title h1 {
          color: #f7eee6;
          margin: 0px;
        }

         .rodape{
          color: #f7eee6;
        } 

        /* CSS para o formulario de envio e postagem */

         #postForm {
            padding: 50px;
            border-bottom: 1px solid #f7eee6;
            max-height: 400px;
          }
          
          #postText {
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
          }
          
          #postImage {
            margin-bottom: 10px;
          } 
          
          #timeline {
            margin-top: 20px;
          }
          
          .post-content img {
            max-width: 100%;
            height: auto;
            max-height: 400px; /* Definindo uma altura máxima para a imagem */
          }
        
          .container {
            margin: 20px;
          }

        .image-container{

            display: inline-block;
            margin: 10px;

        }
