/* Estilos para o cabeçalho, menu e rodapé */
  body {
      font-family:"Playfair Display";
      margin: 0;
      padding: 0;
      text-align: center;
      background-color: #f7eee6;
      cursor: url("Site\img\icone.cur"), default; /*Em teste icone padrao no site*/
  }

  main {
    margin: 0;
    padding: 0;
  }

  header {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: #3a221a; /* Cor de fundo */
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    }
  nav, footer {
      background-color: #3a221a; /* Cor de fundo */
      padding: 10px;
      text-align: center;
  }
  nav ul {
      list-style-type: none;
      padding: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 20px;
    padding-right: 10px; /* Adiciona um preenchimento à direita para afastar o texto da borda */
      
  }
  nav a {
    display: inline-block;
    padding: 10px 20px; /* Preenchimento (topo/baixo, esquerda/direita) */
    text-decoration: none;
    background-color: #80594a;
    color: #f7eee6;
    border-radius: 5px; /* Borda arredondada */
    }

    nav a:hover {
        background-color: #3a221a; /* Mudar a cor de fundo quando o mouse passa por cima */
    }

  a{
      border-style: solid;
      border-color: #f7eee6;
      padding: 10px;
      color: #f7eee6;
  }

  .logo img {
    width: 100px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 10px;
  }

  .title h1 {
    color: #f7eee6;
    margin: 0px;
  }

    .rodape{
    color: #f7eee6;
  } 

/* CSS para o formulario de envio e postagem */

  #postForm {
    padding: 50px;
    border-bottom: 1px solid #f7eee6;
    max-height: 200px;
  }
  
  #postText {
    width: 80%;
    height:100px;
    margin-bottom: 10px;
  }
    
  #postImage {
    margin-bottom: 10px;
  } 
    
  #timeline {
    margin-top: 20px;
  }
    
  .post-content img {
    max-width: 100%;
    height: auto;
    max-height: 400px; /*Definindo uma altura máxima para a imagem */
  }
  
  .container {
    margin: 20px;
  }

  .image-container{

      display: inline-block;
      margin: 10px;
      z-index: 5; /*Definindo a profundidade das imagens*/

  }
  
  .imagem-centralizada {
    display: block;
    margin: 0 auto;
  }
  
  .texto-justificado {
    text-align: justify;
  }
/* pagina 5
/* Seção sobre o café */
.sobre-cafe {
  width: 150%;
  padding: 20px;
  background-color:#f7eee6;
}

.sobre-cafe img {
  width: 10%;
  margin-bottom: 10px;
}

/* Seção de recomendação */
.recomendaçao{
  width: 50%;
  padding: 10px;
  background-color: #f7eee6;
}

.recomendaçao img {
  width: 10%;
  margin-bottom: 10px;
}

/* Seção de contato */
.contato {
  width: 100%;
  padding: 12px;
  background-color: #f7eee6;
}
div.instagram {
  margin: 12px;
}

div.instagram img{
  transition: transform 0.3s ease;
  width: 50px;
  justify-content: center;
  margin: 0%;
}
div.instagram:hover img {
  transform: scale(1.1);
}

a:visited {
  color:black;
}

.contato img {
    width: 10%;
    margin-bottom: 10px;
}
  /* fim pagina 5 */

  h1, h2{
    text-align: center;
  }
  .sobre-cafe {
    width: 95%;
    background-color:#f7eee6;
    justify-content: center;
  }
  .sobre-cafe img{
    width: 10%;
  }

  .content-aling{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .alinhar-esquerda {
    margin-right: 15px;
  }

  .alinhar-direita {
    margin-left: 15px;
  }

  /* Configurando o Carrossel*/

  section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden; /*barra de rolagem horizontal fique escondida*/
  }

  .slider-content{
    width: 400%;
    height: auto;
    display: flex;
  }

  .slider-content input, .img-mobile{
    display: none;
  }

  .slider-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
  }

  .slider-box img{
    width: 100%;
  }

  .nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 38%;
    display: flex;
    justify-content: center;
  }

  .nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #80594a;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
  }

  .nav-manual .manual-btn:not(:last-child),  .nav-auto div:not(:last-child) {
    margin-right: 10px;
  }/*Todos tenha uma borda lateral, menos a última bolinha*/

  .nav-manual .manual-btn:hover{
    background-color: #80594a;
  }/*Mudarar o fundo da bolinha quando o usuário passar o mouse em cima*/

  #radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #80594a;
  }

  #radio1:checked ~ .primeiro{
    margin-left: 0%;
  }

  #radio2:checked ~ .primeiro{
    margin-left: -25%;
  }

  #radio3:checked ~ .primeiro{
    margin-left: -50%;
  }

  section.content{
    margin: 4%;
  }

  section.content-mix{
    margin: 2%;
  }
  
  .contato img {
    width: 10%;
    margin-bottom: 10px;
  }
  
  .logo{
    margin-left: 15px;
  }
