<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compartilhe conosco</title>
    <link rel="stylesheet" type="text/css" href="../styles.css"> <!-- \*Folha de estilo*\ -->
    <link rel="icon" href="/Site/contents/img/icone.ico">  <!-- adicionar í­cone -->
    <script src="../scripts.js" defer></script>
</head>
<body>
   <header>
       <div class="title">
           <h1>Cafés Especiais</h1>
       </div>
       

       <div class="logo">
           <img src="/Site/contents/img/logo.png" alt="Logo do site">
       </div>   
    </header>
    <nav>
        <ul>
            <li><a href="../templates/index.html">Origens do café de especialidade</a></li>
            <li><a href="../templates/sobre.html">O que são cafés de especialidade</a></li>
            <li><a href="../templates/mixologia.html">Mixologia: Bebidas e Drinks</a></li>
            <li><a href="../templates/compartilhe.html">Compartilhe conosco</a></li>
            <li><a href="../templates/contato.html">Contatos e Referencias</a></li>
        </ul>
    </nav>
    <main>
        <!-- Conteúdo principal do site -->
        <h1> Em desenvolvimento!!!</h1>


        <div class="container">
            <div class="post">
                <form id="postForm">
                <textarea id="postText" placeholder="Digite sua mensagem (máximo de 255 caracteres)" maxlength="255" required></textarea>
                <input type="file" id="postImage" accept="image/*">
                <button type="submit">Postar</button>
                </form>
            </div>
        </div>

        <div id="timeline" class="container">
         <!-- Postagens aqui -->
        </div>

        <script src="../scripts.js"></script>


    </main>
    <footer>
        <p class="rodape">© 2024 Café Especial. Todos os direitos reservados.</p>
        <p class="rodape">Entre em contato: <a href="contato.html">Contatos e Referencias</a></p>
    </footer>
</body>
</html>
