<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos e Referencias</title>
    <link rel="stylesheet" type="text/css" href="../styles.css"> <!-- \*Folha de estilo*\ -->
    <link rel="icon" href="/Site/contents/img/icone.ico">  <!-- adicionar í­cone -->
    <link rel="stylesheet" href="contato/carrosel.css">
    <script src="contato/carrosel.js" defer></script>
</head>
<body>
   <header>
       <div class="title">
           <h1>Cafés Especiais</h1>
       </div>
       

       <div class="logo">
           <img src="/Site/contents/img/logo.png" alt="Logo do site">
       </div>
        
    </header>


   <nav>
        <ul>
            <li><a href="../templates/index.html">Origens do café de especialidade</a></li>
            <li><a href="../templates/sobre.html">O que são cafés de especialidade</a></li>
            <li><a href="../templates/mixologia.html">Mixologia: Bebidas e Drinks</a></li>
            <li><a href="../templates/compartilhe.html">Compartilhe conosco</a></li>
            <li><a href="../templates/contato.html">Contatos e Referencias</a></li>
        </ul>
    </nav>


    <main>
        <!-- Conteúdo principal do site -->
        <div class="sobre-cafe">
            <h2>FOTOGRAFA</h2>
            <img src="/Site/contents/img/Foto_fotografa.jpg" alt="Foto da fotografa">
            <p>Isabela começou  na fotografia por hobbie. 
                Suas fotografias estavam concentradas mais nos elementos da natureza. 
                Em 2019 ela recebeu um convite de uma amiga barista consultora para fotografar uma 
                cafeteria que estava abrindo na cidade de São Carlos - SP.
                A partir desse convite, Isabela iniciou seus estudos e práticas na fotografia de gastronomia, 
                mergulhando nesse universo gastronômico. 
                Pouco tempo depois abriu outra cafeteria na cidade e lá estava ela como fotógrafa. 
                A cultura do café especial é algo que une pessoas, agrega valores e interesses pessoais e profissionais: 
                gera relacionamentos e oportunidades.
                Hoje Isabela fotografa alimentos e bebidas para o segmento gastronômico em geral, 
                indo de fotos humanizadas de produtos para cafeterias, bares, restaurantes, docerias,
                _personal_ chefs de cozinha, confeiteiras, bem como fotos humanizadas para esses estabelecimentos.</p>
        </div>
        <div class="recomendacao">
        
            <div class="carousel-container" id="carousel">
            <!-- Slide 1 -->
                <div class="carousel-slide">
                    <div class="place-name"><b>Café Palhares - Belo Horizonte</b></div>
                    <div class="imag-container">
                        <img src="/Site/contents/img/cafe_palhares.webp" alt="img_1">
                        <img src="/Site/contents/img/KAOL.webp" alt="img_2">
                    </div>
                    <p>O Café Palhares é um ícone de BH, conhecido como o reduto dos boêmios e “Quartel General dos Esportes”. Fundado em 1938, é famoso pelo seu “Kaol”, um sanduíche de pernil com queijo e molho especial1. A especialidade da casa é o café coado tradicional, servido com simplicidade e sabor que remetem à história da cidade.</p>
                    <a href="https://www.cafepalhares.com.br/" class="site-link_1">Site do Café Palhares</a>
                </div>
                <!-- Slide 2 -->
                <div class="carousel-slide">
                    <div class="place-name"><b>89ºC Coffee Station - São Paulo</b></div>
                    <div class="imag-container">
                        <img src="/Site/contents/img/cafe_89.jfif" alt="img_1">
                        <img src="/Site/contents/img/salgado_89.png" alt="img_2">
                    </div>
                    <p>Localizada no bairro da Liberdade, a 89ºC Coffee Station é uma mistura de confeitaria japonesa moderna com influência europeia. Se destaca pelo bolo de melão e pela coxinha de catupiry. A especialidade em termos de bebida é o Japanese Drip Coffee, uma técnica japonesa de extração de café especial</p>
                    <a href="https://89coffeestation.com.br/" class="site-link_2">Site do 89ºC Coffee Station</a>
                </div>
                <!--Slide 3 -->
                <div class="carousel-slide">
                    <div class="place-name"><b>Oop Café - Belo Horizonte</b></div>
                    <div class="imag-container">
                        <img src="/Site/contents/img/opp_cafe.jfif" alt="img_1">
                        <img src="/Site/contents/img/opp_cafe.png" alt="img_2">
                    </div>
                    <p>O Oop Café é conhecido por seu ambiente moderno e aconchegante. Além de ser uma cafeteria, também atua como torrefação artesanal de cafés. O local oferece grãos cultivados por pequenos produtores e uma variedade de bebidas geladas, drinks, cervejas, lanches e doces. O nome “Oop” significa “aberto” em africâner, refletindo a ideia de um espaço que conecta pessoas e ideias em torno do café</p>
                    <a href="https://oop.cafe/" class="site-link_3">Site Oop Café</a>
                </div>
                <!--Slide 4-->
                <div class="carousel-slide">
                    <div class="place-name"><b>Freak Café - São Paulo</b></div>
                    <div class="imag-container">
                        <img src="/Site/contents/img/Freak_cafe.webp" alt="img_1">
                        <img src="/Site/contents/img/freak_cafe1.jfif" alt="img_2">
                    </div>
                    <p>O Freak Café, localizado em Moema, oferece uma vasta seleção de bebidas quentes e geladas, incluindo quase 100 opções que vão desde o espresso até vinhos. Para acompanhar, há salgados, tortas, bolos, sanduíches, panquecas, iogurtes e saladas. O ambiente é descrito como aconchegante e ideal para quem gosta de um bom café com música agradável</p>
                    <a href="https://www.freakcafe.com.br/" class="site-link_4">Site Freak Café</a>
                </div>
            </div>
            <button id="prevButton">Anterior</button>
            <button id="nextButton">Próximo</button>
        </div>
        <div class="instagram">
            <h2>CONTATO DA FOTOGRAFA</h2>
            <p>Instagram / WhatsApp / Taggo</p>
            <a href="https://www.instagram.com/isa_cagninfotografia"><img src="/Site/contents/img/logo_instagram.jpg" alt="imagem_instagram"></a>
            <a href="https://api.whatsapp.com/send?phone=5516988580417&text="><img src="/Site/contents/img/whatsapp.webp" alt="imagem_WhatsApp"></a>
            <a href="https://taggo.one/isabelafotografia"><img src="/Site/contents/img/taggo.png" alt="imagem_tago"></a>
        </div>
    </main>
    <footer>
        <p class="rodape">© 2024 Café Especial. Todos os direitos reservados.</p>
        <p class="rodape">Entre em contato: <a href="contato.html">Contatos e Referencias</a></p>
    </footer>
</body>
</html>
